.container {
	margin: 0 auto;
	padding: 0 30px;
	max-width: 1626px;
}

.site__container {
	overflow: hidden;
}

.flex {
	display: flex;
}

.btn-reset {
	padding: 0;

	border: none;
	background-color: transparent;
	cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}
