.container {
	margin: 0 auto;
	padding: 0 30px;
	max-width: 1626px;
}

.site__container {
	overflow: hidden;
}

.flex {
	display: flex;
}

.btn-reset {
	padding: 0;

	border: none;
	background-color: transparent;
	cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

.section__title {
	font-size: 64px;
	line-height: 1.3;
	font-weight: 700;
	color: var(--dark-color);
}

.section__title--center {
	text-align: center;
	max-width: none;
}

.btn {
	padding: 33px 80px;

	font-size: 12px;
	font-weight: 800;
	letter-spacing: 2px;
	color: var(--white-color);
	text-transform: uppercase;

	background-color: var(--accent-color);
	border-radius: 8px;
}
