.first {
	height: 100vh;
	min-height: 660px;

	color: var(--white-color);

	background-image: url("./../../img/first-bg.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.first__container {
	padding-top: 223px;
	padding-bottom: 200px;
	height: 100%;

	position: relative;
}

.first__link {
	display: inline-block;
	margin-bottom: 42px;
	padding: 15px 30px;

	font-size: 11px;
	font-weight: 800;
	letter-spacing: 2px;
	text-transform: uppercase;

	background-color: rgba(28, 46, 61, .4);
	border-radius: 100px;

	transition: background-color .3s;
}

.first__link:hover {
	background-color: rgba(28, 46, 61, .8);
	transition: background-color .3s;
}

.first__title {
	margin-bottom: 40px;
	max-width: 40%;

	font-size: 80px;
	font-weight: 700;
	line-height: 1.05;
}

.first__descr {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;

	margin-bottom: 58px;
	max-height: 14%;
	max-width: 32%;

	font-family: 'SFCompactText', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.25;
	text-overflow: ellipsis;

	overflow: hidden;
}

.first__btn {
	transition: background-color .3s;

	position: relative;
	z-index: 5;
}

.first__btn:hover {
	background-color: var(--accent-hover-color);
	transition: background-color .3s;
}

.first__bottom {
	display: flex;
	align-items: flex-end;
	width: calc(100% - 60px);

	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}

.search-form {
	flex-shrink: 0;
	height: 120px;
	width: 68%;

	border-top-left-radius: 4px;

	position: relative;
	overflow: hidden;
}

.search-form__field {
	padding-left: 55px;
	padding-right: 80px;
	height: 100%;
	width: 100%;

	color: var(--dark-color);

	background-color: var(--white-color);
	border: none;
}

.search-form__button {
	height: 18px;
	width: 18px;

	background-image: url("../../img/search.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	position: absolute;
	right: 62px;
	top: 50%;
	transform: translateY(-50%);
}

.main-slider {
	font-size: 0;
	line-height: 1;

	border-top-left-radius: 8px;
	border-top-right-radius: 8px;

	overflow: hidden;
}

.main-slider__media {
	height: 280px;
	overflow: hidden;
}

.main-slider__media img {
	height: 280px;
	overflow: hidden;
}

.main-slider__video {
	height: 280px;
	overflow: hidden;
}

.main-slider__text {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;

	font-size: 12px;
	font-weight: 800;
	letter-spacing: 2px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	color: var(--white-color);

	background-color: var(--neptune-color);
}

.first__slider-btn {
	width: 14px;
	height: 14px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.btn-right {
	margin-left: auto;
	margin-right: 20px;
	background-image: url("../../img/arrow-right.svg");
	outline: transparent;
}

.btn-left {
	margin-left: 20px;
	margin-right: auto;

	background-image: url("../../img/arrow-left.svg");
	outline: transparent;
}

.main-slider__play {
	width: 32px;
	height: 41px;

	background-image: url("../../img/play-2.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	outline: transparent;

	position: absolute;
	left: 50%;
	top: calc(50% - 32px);
	z-index: 12;

	transform: translate(-50%, -50%);
}

@media (max-height: 1079px) {
	.first__container {
		padding: 120px 30px;
	}
}

@media (max-height: 880px) {
	.first__container {
		padding: 100px 30px;
	}

	.first__link {
		margin-bottom: 30px;
	}

	.first__title {
		font-size: 75px;
		line-height: 65px;
	}
}

@media (max-height: 780px) {
	.search-form {
		height: 80px;
	}

	.main-slider__text {
		height: 80px;
	}

	.first__title {
		font-size: 60px;
		line-height: 65px;
		margin-bottom: 20px;
	}

	.first__descr {
		font-size: 12px;
		margin-bottom: 30px;
	}

	.first__btn {
		padding: 25px 40px;
	}
}
