.footer {
	border-top: 1px solid #d9d9d9;
	padding-top: 80px;
}

.footer__title {
	margin-bottom: 25px;
	padding-bottom: 25px;

	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
	font-size: 22px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #100e0b;

	position: relative;
}

.footer__title::after {
	content: "";
	width: 108px;
	height: 1px;

	background: #57a773;

	position: absolute;
	left: 0;
	bottom: 0;
}

.footer__container {
	justify-content: space-around;
	align-items: flex-start;
}

.footer__link {
	display: inline-block;
	margin-bottom: 12px;

	font-weight: 500;
	font-size: 18px;
	color: #959ea6;

	transition: color 0.3s;
}

.footer__link:hover {
	color: #666e75;
	transition: color 0.3s;
}

.subs-form {
	width: 368px;
}

.subs-form__field {
	padding-left: 31px;
	width: 100%;
	height: 64px;

	background-image: url("../../img/user.svg");
	background-position: calc(100% - 31px) center;
	background-repeat: no-repeat;

	border-radius: 8px;
	border: 1px solid #e4e4e4;

}

.subs-form__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 16px;
	height: 64px;
	width: 100%;

	background-color: var(--neptune-color);

	transition: background-color 0.3s;
}

.subs-form__btn:hover {
	background-color: var(--neptune-hover-color);
	transition: background-color 0.3s;
}


.footer__bottom {
	margin-top: 80px;
	padding: 30px 0;

	border-top: 1px solid #d9d9d9;
}

.footer__copy {
	font-size: 13px;
	color: #959EA6;
}

.bottom-container {
	justify-content: space-between;
}

.footer__links {
	display: flex;
}

.footer__links-item {
	margin-left: 35px;
}
