.header {
	width: 100%;

	/* background-color: rgba(0, 0, 0, .7); */

	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
}

.header__container {
	padding-top: 55px;
	padding-bottom: 55px;
	align-items: center;
	justify-content: space-between;
}

.social {
	display: flex;
	align-items: center;
}

.social__item:not(:last-child) {
	margin-right: 40px;
}

.social__link {
	display: block;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.social__link--fb {
	height: 20px;
	width: 11px;

	background-image: url("../../img/fb.svg");
}

.social__link--tw {
	height: 17px;
	width: 20px;

	background-image: url("../../img/tw.svg");
}

.logo {
	font-size: 22px;
	line-height: 1;
	font-weight: 800;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: var(--white-color);
}

.burger {
	height: 10px;
	width: 48px;

	position: relative;
}

.burger__line {
	display: block;
	height: 2px;
	width: 100%;

	background-color: var(--white-color);

	position: absolute;
	right: 0;
	top: 0;
}

.burger__line:last-child {
	top: auto;
	bottom: 0;
}
