.header {
	width: 100%;

	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

.header__container {
	padding-top: 55px;
	padding-bottom: 55px;
	align-items: center;
	justify-content: space-between;
}

.social {
	display: flex;
	align-items: center;
}

.social__item:not(:last-child) {
	margin-right: 40px;
}

.social__link {
	display: block;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	transition: opacity .3s;
}

.social__link:hover,
.social__link:focus {
	opacity: .6;
	outline: none;
}

.social__link--fb {
	height: 20px;
	width: 11px;

	background-image: url("../../img/fb.svg");
}

.social__link--tw {
	height: 17px;
	width: 20px;

	background-image: url("../../img/tw.svg");
}

.logo {
	font-size: 22px;
	line-height: 1;
	font-weight: 800;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: var(--white-color);
}

.burger {
	height: 10px;
	width: 48px;

	position: relative;

	transition: opacity .3s;
}

.burger:hover .burger__line {
	background-color: var(--accent-color);
}

.burger__line {
	display: block;
	height: 2px;
	width: 100%;

	background-color: var(--white-color);

	position: absolute;
	right: 0;
	top: 0;

	transition: background-color .3s;
}

.burger__line:last-child {
	top: auto;
	bottom: 0;
}

.menu {
	width: 100%;
	height: 100%;

	background-color: var(--neptune-color);

	position: fixed;
	left: -150vw;
	top: 0;
	z-index: 11;

	transition: left .3s;
}

.menu--visible {
	left: 0;
	transition: left .3s;
}

.menu__nav {
	padding: 30px 0;
	width: 100%;
	height: 100%;

	overflow-y: auto;
}

.menu__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	font-weight: 700;
	font-size: 40px;
}

.menu__link {
	display: inline-block;
	margin-bottom: 20px;

	color: var(--white-color);

	transition: color .3s;
}

.menu__link:hover {
	color: var(--black-color);
	transition: color .3s;
}

.menu__close {
	width: 40px;
	height: 40px;

	position: absolute;
	right: 10%;
	top: 10%;
}

.menu__close-line {
	width: 100%;
	height: 3px;

	background-color: var(--white-color);

	position: absolute;
	left: 0;
	top: 0;
}

.menu__close-line:first-child {
	transform: rotate(45deg);
}

.menu__close-line:last-child {
	transform: rotate(-45deg);
}
