.second {
	padding-top: 150px;
	padding-bottom: 120px;

	background-color: var(--white-color);
}

.second__title {
	margin: auto 0;
	max-width: 50%;
}

.second__list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 55px;
}

.second__item {
	width: 23.5%;
	margin-right: 2%;
	margin-bottom: 2%;

	font-size: 0;

	border-radius: 4px;

	position: relative;
	overflow: hidden;
}

.second__item:nth-child(4n) {
	margin-right: 0;
}

.second__image {
	max-height: 100%;
	object-fit: cover;
}

.second__text {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	max-height: 14%;
	width: 90%;

	font-size: 24px;
	font-weight: 700;
	line-height: 1.4;
	color: var(--white-color);
	text-overflow: ellipsis;

	overflow: hidden;
	position: absolute;
	left: 10%;
	top: 83%;

	transform: translateY(100px);
	transition: transform 0.3s ease-in-out;
}

.second__item::before {
	content: "";

	background: var(--neptune-color);

	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.second__item:hover::before {
	opacity: 0.7;
	transition: opacity 0.3s ease-in-out;
}

.second__item:hover .second__text {
	transform: translateY(0);
	transition: transform 0.3s ease-in-out;
}
